.gates
  .zoo-name Benji's Zoo
  .wall
  .post.post-1.post-left
  .post.post-1.post-right
  .left-gate.gate
    .gate-side
      .left
      .front 
      .back
      .right
    .gate-main
      .front
      .back
    .gate-side
      .left
      .front 
      .back
      .right
  .right-gate.gate 
    .gate-side
      .left
      .front 
      .back
      .right
    .gate-main
      .front
      .back
    .gate-side
      .left
      .front 
      .back
      .right
  .post.post-2.post-left
  .post.post-2.post-right
  .wall