meta(charset="utf-8")
title Mathimals!
meta(name="description" content="A curated list of useful links.")
meta(name="viewport" content="width=device-width, initial-scale=1")

link(rel="stylesheet" href="./css/styles.scss")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined")

meta(name="theme-color" content="#fafafa")