.sun
.grass-circle(data-section="0")
  .area.play
    button.icon-button
      span.material-symbols-outlined play_arrow
  #area8.area.polar
    .polar-bg 
      include /assets/areas/polar-bg.svg
    .polar-bear
      include /assets/animals/75.svg
  #area3.area.water
    .water-bg
      include /assets/areas/water-bg.svg
    .fish 
      include /assets/animals/77.svg
  .area.trees-1
    .tree 
      include /assets/areas/tree.svg
    .bush
      include /assets/areas/bushes.svg
  #area2.area.savanna
    .savanna-bg
      include /assets/areas/savanna-bg.svg
    .giraffe
      include /assets/animals/67.svg
    .ostrich
      include /assets/animals/24.svg
  #area4.area.desert
    .desert-bg
      include /assets/areas/desert-bg.svg
    .camel
      include /assets/animals/12.svg
  #area1000.area.legendary
    .rainbow
      include /assets/areas/rainbow.svg
    .pond
      include /assets/areas/legendary-bg.svg
  #area5.area.jungle
    .monkey
      include /assets/animals/64.svg
  #area6.area.forest
    .bear
      include /assets/animals/14.svg
  .area.trees-2
    include /assets/areas/tree.svg
  #area1.area.grassland
    .echidna
      include /assets/animals/61.svg
  #area7.area.farm
    .farm-bg
      include /assets/areas/farm-bg.svg
    .pig
      include /assets/animals/66.svg
.controls
  button.rotate-right-button.icon-button(data-angle="30")
    span.material-symbols-outlined chevron_left
  button.rotate-left-button.icon-button(data-angle="-30")
    span.material-symbols-outlined chevron_right