.sun
.grass-circle(data-section="0")
  .area.play
    .area-name The Sunny Sums
    button.icon-button
      span.material-symbols-outlined play_arrow
.controls
  button.rotate-right-button.icon-button(data-angle="30")
    span.material-symbols-outlined chevron_left
  button.rotate-left-button.icon-button(data-angle="-30")
    span.material-symbols-outlined chevron_right
.zoo-mask