.sun
.grass-circle
  include /assets/areas.svg
.controls
  button.rotate-right-button.icon-button(data-angle="30")
    span.material-symbols-outlined chevron_left
  button.rotate-left-button.icon-button(data-angle="-30")
    span.material-symbols-outlined chevron_right