.header {
  display: grid;
  position: relative;
  align-items: start;
  padding: 1rem 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  z-index: 1;

  h1 {
    margin: 0;
  }

  .material-symbols-outlined {
    font-size: 2rem;
  }

  .coins {
    position: relative;
    display: flex;
    align-items: center;

    color: #cfb016;
    font-size: 1.5rem;
    font-weight: 700;

    -webkit-text-stroke: 1px #b5a140;
    -webkit-text-fill-color: #cfb016;
    gap: $padding-small;

    img {
      width: 60px;
      height: 60px;
    }

    .balance-effect {
      position: absolute;
      left: calc(60px + $padding-small);
      opacity: 0;

      &.animate {
        animation-name: fontGrow;
        animation-duration: 1s;
      }
    }
  }

  .operator-symbol {
    cursor: pointer;
    background-color: #cfb016;
    border: 2px solid #b5a140;
    border-radius: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    transition: all ease 0.5s;
    padding: 0.25rem;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    z-index: 1;

    &.add {
      transform: none;
    }
    &.multiply {
      transform: rotate(45deg);
    }
    &.subtract {
      transform: none;
      .top-bar,
      .bottom-bar {
        height: 0;
      }
      .top-bar {
        margin-top: 100%;
      }
      .bottom-bar {
        margin-bottom: 100%;
      }
    }
    &.divide {
      transform: none;
      .top-bar,
      .bottom-bar {
        height: 100%;
        margin-bottom: 25%;
        border-radius: 50%;
      }

      .top-bar {
        margin-top: -25%;
      }

      .bottom-bar {
        margin-top: 25%;
      }
    }
    .top-bar,
    .bottom-bar {
      height: 100%;
      background-color:white;
      // border: 1px solid #b5a140;
      transition: all ease 0.5s;
      box-sizing: border-box;
      grid-column: 2;
    }
    .top-bar {
      grid-row: 1;
      border-top-right-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
    }
    .bottom-bar {
      grid-row: 3;
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
    .bar {
      grid-row: 2;
      grid-column: 1 / span 3;
      background-color: white;
      // border: 1px solid #b5a140;
      border-radius: 0.25rem;
    }
  }

  .level {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    font-size: $font-size-regular;
    position: relative;

    &.MASTER {
      .next-difficulty {
        display: none;
      }
    }

    progress[value] {
      margin-right: -5px;
      // overflow: hidden;
      
      /* Get rid of the default appearance */
      appearance: none;

      /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
      // border: none;

      /* Add dimensions */
      width: 100%;
      max-width: 200px;
      height: 25px;

      /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
      background-color: whiteSmoke;
      border-top-left-radius: 13px;
      border-bottom-left-radius: 13px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;

      /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
      

      position: relative;

      &::after,
      &::before {
        position: absolute;
        top: 100%;
        color: #b5a140;
        font-size: $font-size-regular;
        
      }

      &::before {
        content: attr(data-difficulty);
        left: 0;
      }

      &::after {
        content: attr(max);
        right: 0;
      }
    }

    /*
    Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
    -webkit-progress-bar -> To style the progress element container
    -webkit-progress-value -> To style the progress element value.
    */

    progress[value]::-webkit-progress-bar {
      background-color: whiteSmoke;
      border-top-left-radius: 13px;
      border-bottom-left-radius: 13px;
      border: 1px solid #b5a140;
      transition: all 0.5s ease;
    }

    /* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */

    progress[value]::-moz-progress-bar {
      /* Gradient background with Stripes */
      background-image: -moz-linear-gradient(
          135deg,
          transparent,
          transparent 33%,
          rgba(0, 0, 0, 0.1) 33%,
          rgba(0, 0, 0, 0.1) 66%,
          transparent 66%
        ),
        -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
        -moz-linear-gradient(left, #09c, #f44);

      background-size: 35px 20px, 100% 100%, 100% 100%;
      border-top-left-radius: 13px;
      border-bottom-left-radius: 13px;
      border: 1px solid #b5a140;
      transition: all 0.5s ease;


      /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
    }

    ::-webkit-progress-value {
      /* Gradient background with Stripes */
      background-image: 
      // -webkit-linear-gradient(
      //     90deg,
      //     transparent,
      //     transparent 33%,
      //     rgba(0, 0, 0, 0.1) 33%,
      //     rgba(0, 0, 0, 0.1) 66%,
      //     transparent 66%
      //   ),
        // -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
        -webkit-linear-gradient(left, #b5a140, #ffdc2e);
        transition: all 0.5s ease;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
    }

    .difficulty,
    .next-difficulty {
      display: flex;
      gap: $padding-small;
      align-items: baseline;
    }

    .operator {
      font-size: $font-size-l;
    }

    .lock-icon,
    .unlock-icon {
      font-size: $font-size-regular;
      margin-bottom: 0.2rem;
    }

    .lock-icon {
      display: block;
    }

    .next-difficulty {
      opacity: 0.5;
      align-items: center;

      .unlock-icon {
        display: none;
      }

      &.unlocked {
        opacity: 1;

        > .unlock-icon {
          display: block;
        }

        > .lock-icon {
          display: none;
        }
      }
    }
  }

  .menu {
    justify-self: end;
    display: none;
    grid-column: 2;
  }

  @keyframes fontGrow {
    from {
      transform: none;
      opacity: 1;
    }

    to {
      transform: scale(200%);
      opacity: 0;
    }
  }
}
