.home-component {
  .sun {
    position: absolute;
    top: calc((var(--sun-radius) / -2) + 1rem);
    right: calc((var(--sun-radius) / -2) + 1rem);
    width: var(--sun-radius);
    height: var(--sun-radius);

    border-radius: 50%;

    background-color: #f3f300;

    --sun-radius: 15rem;
  }

  .grass-circle {
    position: absolute;
    top: 40%;
    left: -50%;
    width: 200vw;
    height: 200vw;
    border-radius: 50%;
    transition: all 400ms ease-in-out;
    
    background: conic-gradient(
      var(--grass-bg) 0deg 15deg,
      var(--polar-bg) 15deg 45deg,
      var(--water-bg) 45deg 75deg,
      var(--grass-bg) 75deg 105deg,
      var(--savanna-bg) 105deg 135deg,
      var(--desert-bg) 135deg 165deg,
      var(--legendary-bg) 165deg 195deg,
      var(--jungle-bg) 195deg 225deg,
      var(--forest-bg) 225deg 255deg,
      var(--grass-bg) 255deg 285deg,
      var(--grasslands-bg) 285deg 315deg,
      var(--farm-bg) 315deg 345deg,
      var(--grass-bg) 345deg 360deg
    );

    // &[data-section="0"] {
    //   transform: rotate(0deg);
    // }

    @for $i from 1 through 12 {
      &[data-section="#{$i}"] {
        transform: rotate(calc(-#{$i} * 30deg));
      }
    }

    .area {
      cursor: pointer;
      width: calc(var(--circle-radius) * var(--section-width-multiplier));
      height: 20%;
      // background-color: red;
      position: absolute;

      top: calc(var(--circle-radius) - var(--circle-radius) * var(--section-height-multiplier));
      left: calc(var(--circle-radius) - var(--circle-radius) * var(--section-width-multiplier) / 2);
      transform-origin: center calc(var(--circle-radius) * var(--section-height-multiplier));
      transform: rotate(calc(var(--section-number) * var(--section-angle)));

      &:hover {
        .area-name {
          opacity: 1;
        }
      }

      &.play {
        --section-number: 0;
        // background: var(--grass-bg);

        button {
          width: unset;
          left: unset;
          position: relative;
          margin: 0 auto;
          span {
            font-size: 5rem;
          }
        }
      }

      &.polar {
        --section-number: 1;

        .area-bg {
          width: calc(var(--circle-radius) * var(--section-width-multiplier) / 3 * 2);
          left: calc(var(--circle-radius) * var(--section-width-multiplier) / 6);
          top: -12%;
        }

        .area-fg {
          top: -15%;
        }
      }

      &.water {
        --section-number: 2;

        .area-bg {
          width: calc(var(--circle-radius)* var(--section-width-multiplier) / 12);
          left: calc(var(--circle-radius)* var(--section-width-multiplier) / 5* 3);
          top: 0%;
        }

        .area-fg {
          top: 25%;
          transform: scaleX(-100%);
        }
      }

      &.shop {
        --section-number: 3;
      }

      &.savanna {
        --section-number: 4;

        .area-bg {
          width: calc(var(--circle-radius)* var(--section-width-multiplier) / 5 * 2);
          left: calc(var(--circle-radius)* var(--section-width-multiplier) / 4);
          top: -24%;
        }

        .area-fg-67 {
          top: -18%;
          width: calc(var(--circle-radius) * var(--section-width-multiplier) / 11);
          left: calc(var(--circle-radius) * var(--section-width-multiplier) / 7 * 2);
        }

        .area-fg-24 {
          top: 15%;
          transform: scaleX(-100%);
          width: calc(var(--circle-radius) * var(--section-width-multiplier) / 6);
          left: calc(var(--circle-radius) * var(--section-width-multiplier) / 5 * 3);
        }
      }

      &.desert {
        --section-number: 5;

        .area-bg {
          width: calc(var(--circle-radius) * var(--section-width-multiplier) / 3 * 2);
          left: calc(var(--circle-radius) * var(--section-width-multiplier) / 6);
          top: -15%;
        }

        .area-fg {
          width: calc(var(--circle-radius) * var(--section-width-multiplier) / 10);
          left: calc(var(--circle-radius) * var(--section-width-multiplier) / 2);
          top: -10%;
        }
      }

      &.legendary {
        --section-number: 6;

        &.show {
          .rainbow {
            opacity: 1;
            transform: rotate(0deg);
            transition-delay: 0.5s;
          }
        }

        .rainbow {
          width: calc(var(--circle-radius) * var(--section-width-multiplier) / 3);
          left: calc(var(--circle-radius) * var(--section-width-multiplier) / 3);
          top: -25%;
          transform: rotate(-180deg);
          transform-origin: bottom center;
          transition: all 1s;
          transition-delay: 0;
          opacity: 0;
        }

        .area-bg {
          width: calc(var(--circle-radius) * var(--section-width-multiplier) / 3 * 2);
          left: calc(var(--circle-radius) * var(--section-width-multiplier) / 6);
          top: -5%;
        }
      }

      &.jungle {
        --section-number: 7;
        
        .area-bg {
          width: calc(var(--circle-radius)* var(--section-width-multiplier) / 6 * 5);
          left: calc(var(--circle-radius)* var(--section-width-multiplier) / 12);
          top: -25%;
        }

        .area-fg-62 {
          width: calc(var(--circle-radius)* var(--section-width-multiplier) / 5);
          left: 60%;
          transform: scaleX(-100%);
        }

        .area-fg-64 {
          top: 30%;
        }
      }

      &.forest {
        --section-number: 8;
        
        .area-bg {
          width: calc(var(--circle-radius)* var(--section-width-multiplier) / 3* 2);
          left: calc(var(--circle-radius)* var(--section-width-multiplier) / 6);
          top: -30%;
        }

        .area-fg {
          top: 10%;
        }
      }

      &.settings {
        --section-number: 9;

        .area-bg {          
          top: -30%;
        }
      }

      &.grasslands {
        --section-number: 10;

        .area-bg {
          width: calc(var(--circle-radius) * var(--section-width-multiplier) / 6 * 5);
          left: calc(var(--circle-radius) * var(--section-width-multiplier) / 12);
          top: -13%;
        }

        .area-fg {
          top: 10%;
        }
      }

      &.farm {
        --section-number: 11;

        .area-bg {
          width: calc(var(--circle-radius) * var(--section-width-multiplier) / 3 * 2);
          left: calc(var(--circle-radius)* var(--section-width-multiplier) / 8);
          top: -23%;
        }

        .area-fg {
          width: calc(var(--circle-radius) * var(--section-width-multiplier) / 6);
          left: calc(var(--circle-radius) * var(--section-width-multiplier) / 8 * 5);
          top: 15%;
        }
      }

      > * {
        position: absolute;
        width: calc(var(--circle-radius) * var(--section-width-multiplier) / 4);
        left: calc(var(--circle-radius) * var(--section-width-multiplier) / 8 * 3);
      }

      .area-name {
        position: relative;
        left: auto;
        top: -30%;
        width: auto;
        text-align: center;
        padding: 2rem 25%;
        font-size: 2rem;
        font-weight: 700;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        -webkit-text-stroke: 1px white;
      }
    }
  }

  .controls {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 2rem;

    pointer-events: none;

    button {
      pointer-events: all;
    }
  }

  .zoo-mask {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(10px) saturate(0.8);
  }
}

body{
  .home .home-component {
    display: block;
  }
  &:not(.home) {
    .home-component {
      .zoo-mask {
        display: block;
      }
    }
  }
}

//TODO DELETE
.animal-card-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 100vh;
  padding: 2rem;
  overflow-y: auto;

  background-color: rgba(0,0,0,0.3);

  z-index: 2;

  gap: 1rem;
}
