// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

@import './vars.scss';

body {
  --theme-hue: 205;
  --theme-saturation: 80%;
  --theme-hue-saturation: var(--theme-hue), var(--theme-saturation);
  --theme-lightness: 40%;
  --theme-colour: hsl(var(--theme-hue-saturation), var(--theme-lightness));
  --theme-accent: hsl(calc(var(--theme-hue) - 180), 90%, 60%);
  --primary-font-colour: #{$primary-font-colour};
  --background-colour: #{$background-colour};
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  font-size: $body-font-size;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;

  background-color: var(--background-colour);

  color: var(--primary-font-colour);
  font-family: $font-family;
  font-weight: 300;
  line-height: 1.5;

  accent-color: var(--theme-accent);

  &.area, &.enclosure{ 
    > main > .area-wrapper {
      display: block;
    }
  }

  &.game > main > .game-wrapper {
    display: block;
  }

  button {
    padding: $padding-small $padding-standard;

    border-radius: $border-radius;

    background-color: transparent;

    color: var(--primary-font-colour);
    font-family: $font-family;

    cursor: pointer;

    &.icon-button {
      display: flex;
      padding: $padding-standard;

      border: none;
      border-radius: 50%;

      background-color: rgba(255,255,255,0.5);

      box-shadow: none;
      transition: all 250ms ease-in-out;
    }

    &:hover {
      transform: scale(1.05);

      background-color: rgba(255,255,255,0.6);

      box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.3);
    }

    &:active {
      transform: scale(1.02);

      background-color: transparent;

      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.7);
    }
  }
}

h1,
h2,
h3 {
  margin: 0.67em 0 0.33em;

  font-family: $heading-font-family;
  font-weight: 700;
}

h1 {
  font-size: $font-size-xxl;
  text-align: center;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-l;
}

svg, 
svg text {
  font-family: $font-family;
}

select {
  font-family: $font-family;
  font-size: $font-size-regular;
  padding: $padding-small;
  border-radius: $border-radius;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;

  > .area-wrapper,
  > .game-wrapper {
    flex-grow: 1;
    display: none;
    z-index: 1;
  }

  > [class$="modal"] {
    display: none;
  }
}

.card {
  padding: $padding-standard;
  background-color: white;
  color: $primary-font-colour;
  border-radius: $border-radius;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.7);
}

@import './header.component.scss';

@import './gates.component.scss';

@import './home.component.scss';

@import './animal-card.component.scss';

@import './sum.component.scss';

@import './level-select.component.scss';

@import './zoo-area.component.scss';

@media screen and (min-width: 800px) {
  html,
  body,
  button {
    font-size: $body-font-size + 2;
  }
}

@media screen and (min-width: 1200px) {
  html,
  body,
  button {
    font-size: $body-font-size + 4;
  }
}

@media screen and (min-width: 1600px) {
  html,
  body,
  button {
    font-size: $body-font-size + 6;
  }
}
