doctype html
html(lang="en-GB")
  head
    include templates/head.pug
  body.home
    main
      .header-wrapper
      .home-wrapper 
      .area-wrapper 
      .enclosure-modal
      .game-wrapper
      .settings-modal 
      .gate-wrapper

  .templates 
    template#TemplateGates
      include templates/gates.pug
    template#TemplateMainBg
      include templates/home.pug
    template#TemplateHeader
      include templates/header.pug
    template#TemplateAnimalCard 
      include templates/animal-card.pug
    template#TemplateZooArea 
      include templates/zoo-area.pug
    template#TemplateSum 
      include templates/sum.pug
    template#TemplateLevelSelect 
      include templates/level-select.pug
    
  script(src="./scripts/index.ts" type="module")